
.AddTasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;  
    flex-direction: column;
    align-items: center;

}

.buttons{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    widht: 150px;
    padding:5px;
    background-color: blue;
    color:white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius:10px;
}